@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

@font-face {
    font-family: "After Screen";
    src: url("~@/assets/fonts/aften_screen.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}