$color-background: #E8DCC5;
$color-green: #007048;
$color-orange: #FD8B17;
$color-white: #FFF;
$color-grey: #364046;
$color-grey-lighter: #6b6b6b;
$color-black: #000;
$container-width-default: 1280px;
$breakpoint-small: 640px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
