@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
    font-family: "Graphik";
    src: url("../../assets/fonts/Graphik-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Graphik";
    src: url("../../assets/fonts/Graphik-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Graphik";
    src: url("../../assets/fonts/Graphik-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "After Screen";
    src: url("../../assets/fonts/aften_screen.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/* 
@font-face {
    font-family: "After Screen";
    src: url("~@/assets/fonts/aften_screen.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul {
    list-style: none;
}

li,
button {
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:focus,
button:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

input,
textarea,
select {
    outline: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

small {
    font-size: 90%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Graphik", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5;
    color: #364046;
    background: #E8DCC5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "After Screen", sans-serif;
    font-weight: 600;
    color: #007048;
    line-height: 1.3;
}

h1 {
    font-size: 65px;
    padding-bottom: 20px;
    letter-spacing: -1px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: inherit;
    font-weight: inherit;
    color: #6b6b6b;
}

span.highlight {
    display: inline-block;
    transform: rotate(352deg);
}

em {
color: #FD8B17;
background-color: #ffffff;
border-radius: 60px;
padding: 3px 18px;

}

.container {
    max-width: 1280px;
    position: relative;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

.intro {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 60px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}

.nav {
    border-bottom: 1px solid rgba(0,112, 71, .27);
}

.nav-content {
        padding: 11px 0;
     display: flex;
     align-items: center;
        justify-content: space-between;
}

.nav-logo {
    display: flex;
     align-items: flex-end;
}


.nav-logo img {
width:47px;
margin-right: -4px;
}

.nav-logo span {
    text-transform: uppercase;
    color: #007048;
    font-weight: 500;
    font-size: 21px;
}

.nav-item {
    display: inline-block;
    margin-left: 45px;
    position: relative;
}

.router-link-exact-active:after {
        content: "";
    background: #007046;
    width: 100%;
    min-width: 50px;
    height: 2px;
    display: inline-block;
    position: absolute;
    bottom: -23px;
    left: 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 70vh; */
}

.form-group {
    margin: 0 15px;
}

label {
    display: block;
    margin-bottom: 6px;
}

input {
    font-family: inherit;
    font-size: inherit;
    padding: 16px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 220px;
    transition: all 300ms ease-in-out;
}

input:focus {
    border: 1px solid #007048;
}

.button {
    color: #ffffff;
    font-size: 17px;
    text-transform: uppercase;
    font-family: inherit;
    text-align: center;
    background: #007047;
    height: 54px;
    width: 85px;
    border-radius: 4px;
    margin-top: 26px;
}

.button:disabled {
    opacity: .4;
    pointer-events: none;
}

.test-result {
    text-align: center;
    margin-top: 80px;
}


@keyframes blink {
    0% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.result-pending span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.result-pending span:nth-child(2) {
    animation-delay: 0.2s;
}

.result-pending span:nth-child(3) {
    animation-delay: 0.4s;
}

.text-green {
    color: #007047;
}


table {
    border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
    width: 70%; 
}


tr {
    margin: 5px;
    background-color: #fffcf6;
}

th {
    font-weight: 600;
    padding: 1rem 1.5rem !important;
    border-bottom: 1px solid rgba(0,112, 71, .27);
    font-size: 13px;
    color: #686c71;
}

td {
    vertical-align: top;
}

th,
td {
    text-align: left;
    padding: 2rem 1.5rem;
    vertical-align: middle;
}

/* .split-table {
    //   border-collapse: separate;
    //   border-spacing: 0 5px;

    //border: 1px solid rgb(236, 239, 241);

    tr {
        background-color: #fff;
        border-radius: 2px;
        border-bottom: 1px solid #e8e8e8;
    }
} */

.table-status-label {
    border-radius: 60px;
    padding: 6px 14px 4px;
    font-weight: 600;
    font-size: 15px;
}

.positive {
    background-color: #CFE7DC;
    color: #5DA77E;
    /* 679d22 */
}

.negative {
    background-color: #fdd6d6;
    color: #c2363b; 
    /* ce3837 */
}

.table-footer {
    text-align: center;
    margin-top: 5em;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #99a789;
    font-size: 14px;
}


@media screen and (max-width: 640px) {
    form {
        flex-direction: column;
    }
    input {
        width: 100%;
        min-width: 100%;
    }
}